*{
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    color: white;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background-image: url("mosaic.jpg");
    background-repeat: repeat;
    background-size: 250px 250px;
    margin: 25px;
}
 
h1, h3{
    text-align: center;
}

h1{
    font-size: 90px;
    color: #ffb71d;
    margin: 50px 0;
}

h3{
    font-size: 35px;
    color: #ffb71d;
}

h4{
    font-size: 25px;
    color: rgb(255, 211, 117);
    margin: auto 15px;
}

div{
    border-left: 2px solid rgb(255, 222, 78);
    border-right: 2px solid rgb(255, 222, 78);
    border-radius: 100px;
    padding: 10px;
    margin: 10px 0px;
    width: 100%;
}

p{
    font-size: 20px;
    padding: 4px 30px;
}

.menu li a:hover {
    color:rgb(190, 7, 38);
    transition: all 0.3s;
}

.menu li a{
    text-decoration: none;
    font-size: 18px;
}

img{
    width:40%;
    border: 1px solid rgb(255, 211, 117);
    border-radius: 4px;
    padding: 5px;
}

img:hover {
    box-shadow: 0 0 3px 2px rgb(255, 211, 117);
}

.que-es-kanbas-img{
    width: 40rem;
    margin: 55px 15px;
    float: right;
}


footer p{
    font-size: 16px;
}

.kanban{
    width: 30%;
    float: right;
    margin: 15px 25px;
}

.tablero-kanban{
    width: 35%;
    margin-bottom: 15px;
}

.div-raro{
    border: 0px;
    display: flex;
    justify-content: space-between;
}

.arcoiris{
    width: 20%;
    float: right;
    margin-right: 90px;
}

.navegacion {
    width: 1000px;
    margin: auto;
    background-color: #ffb71d;
    border-radius: 20px;
}

.navegacion ul {
    list-style: none;
}

.menu > li {
    position: relative;
    display: inline-block;
    padding: 0% 2%;
    align-items: center;
}

.menu > li > a {
    display: block;
    padding: 15px 20px;
    text-decoration: none;
}

ul{
    font-size: 20px;
}
 
#especialito {
    text-align: center;
}

#excesoinfo {
    float: right;
    margin: 55px 15px;
}

.ejemplo{
    font-size: 22px;
    margin-left: 40px;
    list-style: circle;
}

#parte5 img{
    height: 200px;
    width: 600px;
    margin: 55px 15px;
}

.partescomponentes {
    width: 50%;
    float: left;
    border: 0;
}

#imgcomponentes {
    width: 43%;
}

#imgcomponentes.ampliada {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
    cursor: zoom-out;
  }
.ventajas-imagen{
    float:right;
    width: 461px;
    height: 461px;
    margin: 55px 15px;
}

